<% content_for :title, "Ricardo Perez Coding" %>

<h1>Ricardo Perez</h1>
<h2>My Website</h2>
<h3>Things I'll be publishing:</h3>
<ul>
	<li>Code I've done</li>
	<li>Code I'm currently doing</li>
	<li>Code I want to do</li>
	<li><a href="#" onclick="launchPonies();">Code by others I like</a> (if you like ponies)</li>
	<li>How to contact me in order to get code done</li>
</ul>
<h4>Contact Me</h4>
<ul>
	<li>Email: ricas07_at_gmail.com</li>
</ul>

<script type="text/javascript" src="https://panzi.github.io/Browser-Ponies/basecfg.js" id="browser-ponies-config"></script><script type="text/javascript" src="https://panzi.github.io/Browser-Ponies/browserponies.js" id="browser-ponies-script"></script>

<script type="text/javascript">
	function launchPonies() {
	/* <![CDATA[ */ (function (cfg) {BrowserPonies.setBaseUrl(cfg.baseurl);BrowserPonies.loadConfig(BrowserPoniesBaseConfig);BrowserPonies.loadConfig(cfg);})({"baseurl":"https://panzi.github.io/Browser-Ponies/","fadeDuration":500,"volume":1,"fps":25,"speed":3,"audioEnabled":false,"showFps":false,"showLoadProgress":true,"speakProbability":0.1,"spawn":{"applejack":1,"fluttershy":1,"pinkie pie":1,"rainbow dash":1,"rarity":1,"twilight sparkle":1},"autostart":true}); /* ]]> */
}
</script>