<% content_for :title, "Ricardo Perez Coding" %>

<h1>Ricardo Perez</h1>
<h2>My Website</h2>
<h3>Things I'll be publishing:</h3>
<ul>
	<li>Code I've done</li>
	<li>Code I'm currently doing</li>
	<li>Code I wan to do</li>
	<li>Code by others I like</li>
	<li>How to contact me in order to get code done</li>
</ul>
<h4>Contact Me</h4>
<ul>
	<li>Email: ricas07_at_gmail.com</li>
</ul>